{% include 'nav_main.html' %}
{% load static %}

{% block body %}

<div class="row ">

  <div class="col-sm-3" style="color: red">
    <p style="color: blue"></p>
  </div>

  <div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
      <div class="card-header text-primary">
        Who we are?
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="form-group">
            <p id="about">This is TeamA E-Learn academy, Django web based online learning management system funded
              by a Group of Companies based in South Africa since 2020.The main aim of this platform is
              <strong>to empower people with knowledge</strong>
              from different countries across the globe.
              For that purpose, people can register in different courses
              of their interest and learn from our expert team.
            </p>
          </div>

          <div class="col-sm-4"></div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}