{% include 'nav_main.html' %}
{% load static %}

{% block body %}


    <div class="row">
      <div class="col-sm-3" style="color: red">
        <p style="color: blue"></p>
      </div>



      <div class="col-sm-6" style="padding-top: 87px">
        <div class="card">
          <div class="card-header text-primary">
            We are reachable 24/7, check us please ....
          </div>
        </div>


        <div class="card mb-4">
          <div class="card-body">

            <div class="row">
              <div class="col-sm-4"></div>
              <div class="form-group">
                <p id="about">You can hook us through our social media account</p>

                <ul class="list-group">
                  <li class="list-group-item"><a href="https://www.youtube.com">YouTube</a></li>
                  <li class="list-group-item"><a href="https://twitter.com">Twitter</a></li>
                  <li class="list-group-item"><a href="https://www.instagram.com">Instagram</a></li>
                  <li class="list-group-item"><a href="https://github.com/">GitHub</a></li>
                </ul>
              </div>

              <div class="col-sm-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}